
@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<link rel="stylesheet" href="~/Content/DetallePropiedad.css" />

<div class="page-head" style="height: auto !important; margin-bottom: 30px;">
    <div class="container">
        <h1>Casa en venta en San Miguel de Allende</h1>
        <p>Av. Avenue, Residencial Tajamar Cancún, QR</p>
    </div>
</div>

<div class="container" id="property">
    <div class="property-details">
        <div class="property-gallery" >
            <div class="property-image" style="background-image: url('../../Images/propiedad-thumbnail.jpg')"></div>
        </div>
        <div class="property-chars">
            <div class="property-header">
                <h3 class="property-price">$1,165,000.00</h3>
                <div class="property-op">VENTA</div>
            </div>
            <div class="property-char-list">
                <div class="property-char-line">
                    <div class="property-char">
                        <div class="property-char-key">Tipo</div>
                        <div class="property-char-value">Casa</div>
                    </div>
                    <div class="property-char">
                        <div class="property-char-key">Estacionamientos</div>
                        <div class="property-char-value">4</div>
                    </div>
                </div>
                <div class="property-char-line">
                    <div class="property-char">
                        <div class="property-char-key">M<span class="potencia">2</span> de Terreno</div>
                        <div class="property-char-value">150</div>
                    </div>
                    <div class="property-char">
                        <div class="property-char-key">M<span class="potencia">2</span> de Construccion</div>
                        <div class="property-char-value">153</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="property-contact">
        <h4 class="contact-title">Pedir Informes</h4>
        <p class="contact-subtitle">Llámanos o deja tu información</p>
        <form action="/" method="post">
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input type="text" class="form-control input-sm" required />
            </div>
            <div class="form-group">
                <label class="control-label">Correo Electrónico</label>
                <input type="email" name="email" required class="form-control input-sm" />
            </div>
            <div class="form-group">
                <label class="control-label">Teléfono</label>
                <input type="tel" name="tel" class="form-control input-sm" />
            </div>
            <div class="form-group">
                <label class="control-label">Mensaje</label>
                <textarea class="form-control input-sm" rows="2" name="message"></textarea>
            </div>
            <div class="help-block">Al hacer clic en Enviar, estás aceptando nuestros Terminos y Condiciones</div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Enviar</button>
            </div>
        </form>
    </div>
</div>