
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="container-fluid text-center">
    <h3 class="section-title">Propiedades Destacadas</h3>
    <div class="separator"></div>
    <div id="detail-prop" class="container">
       
    </div>
    <div class="container-fluid" id="list-destacadas">

    </div>
</div>

<div class="container-fluid text-center" id="latestProp">
    <h3 class="section-title">Agregadas Recientemente</h3>
    <div class="separator"></div>
    <div class="latestPropContainer">
        <div class="latestPropList"></div>
    </div>
</div>

