@{
    ViewBag.Title = "Propiedades";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<link href="~/Content/Propiedades.css" rel="stylesheet" />

<div class="container-fluid page-head" style="background-image: url('../Images/banner-propiedades.png');">
    <div class="title container">
        <h1>Propiedades</h1>
    </div>
</div>

<div class="container">
    @for (int i = 0; i < 3; i++)
    {
        <div class="property-th">
            <div class="thumbnail">
                <div class="property-image" style="background-image: url('../../Images/propiedad-thumbnail.jpg')">
                    <label class="property-op">Venta</label>
                    <label class="property-type">Casa</label>
                </div>
                <div class="caption">
                    <div class="property-details-head clearfix">
                        <div class="property-titles">
                            <h5 class="property-title truncate">San Miguel de Allende</h5>
                            <p class="property-subtitle truncate">Cancún, Quintana Roo</p>
                        </div>
                        <div class="property-price">
                            <h4 class="price truncate">$5K MXN</h4>
                        </div>
                    </div>
                    <div class="propertye-details-extras">
                        <label class="property-char property-rooms">5</label>
                        <label class="property-char property-baths">3</label>
                        <label class="property-char property-cars">2</label>
                    </div>
                </div>
            </div>
        </div>
    }
</div>