.page-head {
    background-image: url("http://res.cloudinary.com/alvapag/image/upload/v1493255715/banner-1_zlbyio.jpg");
}

.home-section .section-title {
    font-weight: 300;
    color: #4b4b4b;
}

.separator {
    height: 2px;
    width: 100%;
    background: #4b4b4b;
    position: relative;
}

.property-list {
    width: 100%;
    padding: 20px 0;
}