body {
    background-color: #eaeaea !important;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    border: none;
    margin: 0;
    border-radius: unset;
}


.navbar-default .navbar-brand:hover {
    color: #40e1c0;
}

.page-head {
    color: #fff;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:top;
}

.page-head > .title {
    padding: 90px 50px;
}

.footer {
    background: #494d56;
    color: #a9a9a9;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
}

@media (max-width: 700px) {
    .navbar-brand {
        max-width: 80%;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .page-head {
        height: 180px;
    }

    .page-head > .title {
        padding: 20px;
    }
}