<div class="col-md-12">
    <div class="form-group">
        <label class="control-label">Tipo de Inmueble</label>
        <select name="IdTipoInmueble" id="IdTipoInmueble" class="form-control">
            @foreach (var tipo in tiposInmueble)
            {
                <option value="@tipo.IdTipoInmueble">@tipo.Descripcion</option>
            }
        </select>
    </div>
</div>