@using PIA.Entities;
@model Publicaciones
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nueva Publicación</h2>
<a href="/Admin" class="btn btn-danger pull-right">Regresar</a>

@using (Html.BeginForm())
{

}