@using PIA.Entities;
@{
    ViewBag.Title = "Nueva Propiedad";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TiposInmueble> tiposInmueble = ViewBag.TiposInmueble;

    List<Estados> estados = ViewBag.Estados;

}
<div class="container">
    @{
        Html.RenderAction("FormPublicaciones");
        Html.RenderAction("FormCaracteristicas");
        Html.RenderAction("FormUbicacion");
    }
</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbQdGSuyDBFobghsn1rMOl0PuzjJZ7xpU&callback=initMap">
</script>
<script type="text/javascript">
    function initMap() {
        var myLatlng = new google.maps.LatLng(21.1901853, -86.8198375);
        var mapOptions = {
            zoom: 10,
            center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        // Place a draggable marker on the map
        

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                map.setCenter(pos);
                map.setZoom(15);

                var marker = new google.maps.Marker({
                    position: pos,
                    map: map,
                    draggable: true,
                    title: "Seleccionar la ubicación"
                });
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
    }
</script>