
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>PIA | @ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Utils.css" rel="stylesheet"/>
    <link href="~/Content/LayoutHome.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    @*<nav class="navbar top-navbar hidden-sm hidden-xs" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a href="" class="nav-link">(998)-179-5337</a></li>
                <li class="nav-item"><a href="" class="nav-link">info@piabienesraices.com</a></li>
            </ul>
        </div>
    </nav>*@
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
                    <span class="sr-only">Toggle nav</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index" class="navbar-brand">
                    Propiedades Inmobiliarias y Administración
                </a>
            </div>
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Home/Index">Inicio</a>
                    </li>
                    <li>
                        <a href="/Home/Propiedades">Propiedades</a>
                    </li>
                    @*<li>
                        <a href="">Acerca De</a>
                    </li>*@
                </ul>
            </div>
        </div>
    </nav>

    <div class="" id="RenderBody">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-section">
                <img src="" />
            </div>
        </div>
    </footer>
    
</body>
</html>
