
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>PIA | @ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Utils.css" rel="stylesheet"/>
    <link href="~/Content/LayoutHome.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar top-navbar" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a href="" class="nav-link">(998)-179-5337</a></li>
                <li class="nav-item"><a href="" class="nav-link">info@piabienesraices.com</a></li>
            </ul>
        </div>
    </nav>
    <nav class="navbar bottom-navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="">
                    <span class="sr-only">Toggle nav</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index" class="navbar-brand">
                    <img src="~/Images/logo-letter.png" alt="Alternate Text" />
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Home/Index">Inicio</a>
                    </li>
                    <li>
                        <a href="/Home/Propiedades">Propiedades</a>
                    </li>
                    <li>
                        <a href="">Acerca De</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="" id="RenderBody">
        @RenderBody()
    </div>
    <script>
        $(document).ready(function () {
            $(".property-th").on("click", function () {
                let $idProp = $(this).data("idPropiedad");
                window.location.href = "/Home/Detalle/" + $idProp;
            })
        });
    </script>
</body>
</html>
